@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
header {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: ;
    background-color: rgb(21, 21, 21);
    padding: 20px 20px;
    margin: 0;
}
.head {
    
    
}
* {
    margin: 0  ;
    padding: 0;
}
nav {
    display: flex;
    margin: auto;
}
ul {
    display: inline-flex;
} 
nav li {
    list-style: none;
    padding: 0 10px 0 10px;
}

li > a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 13px ;
    font-weight: 300;
    color: rgb(217, 217, 217);
} 
header i {
    color: white;
    width: 80px;
    font-weight: 300px;
}

/* .hero {
    display: flex;
    padding: 100px 20px;
    background: #f5f5f7;
   
}
.left {
    width: 50%;
   padding: 60px 200px 0px 400px ;
}
.left h1, p {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    
}
.left p {
    padding: 20px 200px 20px 0px ;
    line-height: 1.3em;

}
.left button {
    padding: 12px 30px 12px 30px ;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
}
.right {
    width: 50%;
}
.right img {
    width: 30%;
} */
.macbook {
    background-color: #f5f5f7;
    border-bottom: 10px solid #f5f5f7;
    text-align: center;
    padding: 50px 0px 0px 0px ;

}
.macbook h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 55px ;
}
.macbook h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 400;
    padding: 20px 0px
}
.macbook-btn .btn-1 {
    padding: 15px 20px;
    background-color: #0077ed;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
}
.macbook-btn .btn-1:hover {
    padding: 15px 20px;
    background-color: #000000;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: 0.5s;
}
.macbook-btn .btn-2 {
    padding: 15px 25px;
    background-color: rgba(0, 0, 255, 0);
    color: #0077ed;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #0077ed;
    border-radius: 30px;
    margin-left: 20px;
} 
.macbook-btn .btn-2:hover {
    padding: 15px 25px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #000000;
    border-radius: 30px;
    margin-left: 20px;
    transition: 0.5s;
} 


.macbook img {
    margin-top: 20px;
    margin-bottom: -5px;
}
.mackbook, #slide {
    border-radius: 30px;
    margin-bottom: 30px;
}
.ipad {
    background-color: black;
    border-bottom: 10px solid rgb(220, 219, 219);
    margin: auto;
    text-align: center;
    padding: 50px 0px 0px 0px ;

}
.ipad h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 55px ;
}
.ipad h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 20px 0px
}
.ipad-btn .btn-1 {
    padding: 15px 20px;
    background-color: #0077ed;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 30px;

}
.ipad-btn .btn-2 {
    padding: 15px 25px;
    background-color: rgba(0, 0, 255, 0);
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #0077ed;
    border-radius: 30px;
    margin-left: 20px;

}
.ipad img {
    margin-top: 20px;
    margin-bottom: -5px;
}

.iphone {
    background-color: black;
    /* border-bottom: 10px solid rgb(220, 219, 219); */
    margin: auto;
    text-align: center;
    padding: 50px 0px 0px 0px ;

}
.iphone h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 55px ;
}
.iphone h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 20px 0px
}
.iphone-btn .btn-1 {
    padding: 15px 20px;
    background-color: #0077ed;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 30px;

}
.iphone-btn .btn-2 {
    padding: 15px 25px;
    background-color: rgba(0, 0, 255, 0);
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: 1px solid #0077ed;
    border-radius: 30px;
    margin-left: 20px;

}
.iphone img {
    width: 50%;
    margin-top: 20px;
   padding-bottom: 130px;
}
.w-main {
    display: flex;
    width: 100%;
    /* max-width: 100%; */
    margin: auto;
    padding: 0;
}
.wdc, .watch {
    width: 50%;
    background-color: black;
    text-align: center;
    
}
.wdc p {
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.3em;
    padding: 20px 0px 20px 0px ;
    margin: 20px 0px 0px 0px;
}
.watch p {
    color: white;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 1.3em;
    padding: 5px 0px 20px 20px ;
}
.wdc button, .watch button {
    padding: 15px 20px;
    background-color: #0077ed;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
}
.wdc {
    padding: 20px 0px 0px 0px;
    margin: 10px 5px 10px 10px;
}
.watch {
    padding: 40px;
    margin: 10px 10px 10px 5px;
    display: inline-block;
}
.watch img, .watch button{
   display: block;
   margin: auto;
      
}
.wdc img {
    width: 50%;
}
.watch img {
    padding: 20px 0px 0px 30px;

}

footer {
    background-color: #f5f5f7;
    padding: 20px;
    margin: 20px 0px 0px 0px;

} 
.text {
    width: 50%;
    margin: auto;
    

}
.text p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    line-height: 2em;
    margin-bottom: 30px;
}
.rows {
    width: 50%;
    margin: auto; 
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e3e3e3;
    padding: 20px 0px 20px 0px;
    
}
.row h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    font-size: 13px;
    margin-top: 30px;
}
.row ul {
    display: block;
}
.row ul li {
    list-style: none;
}
.row ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    font-size: 13px;
    font-weight: 400;
    line-height: 2em;
}
.row ul li a:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    font-size: 13px;
    font-weight: 400;
    line-height: 2em;
    text-decoration: underline black;
}